* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.container {
  padding: 10px;
}

nav {
  padding: 5px;
  background-color: rgb(31, 31, 31);
}