<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="/static/htmx.min.js"></script>
  </head>
  <body>
    {% include "templates/includes/header.jingoo.html" %}
    <main>
      {% include "templates/includes/toast.jingoo.html" %}
      <form hx-post="/login" hx-swap="innerText" hx-target="#toast-message">
        <fieldset>
          <legend>Login</legend>
          <input name="dream.csrf" type="hidden" value="{{ csrf_token }}" />
          <div class="input-container">
            <label for="email">Email</label>
            <input name="email" type="email" required autofocus />
          </div>
          <br />
          <div class="input-container">
            <label for="password">Password</label>
            <input name="password" type="password" required />
          </div>
          <br />
          <button type="submit">Submit</button>
        </fieldset>
      </form>
    </main>
  </body>
</html>
